 //Tipografías

$mainFont: 'Lato', sans-serif;
$secondaryFont: 'Roboto Mono', monospace;

//Font Size
$fontSize: 16px;

//Font Size Variables
$textLg:1.8rem;
$textMd:1.4rem;
$textSm:1.1rem;

//Weights Fonts
$textLight:300;
$textRegular:400;
$textBold:500;


//Line Height
$lineHeight:1.7;
